/* common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e3f1e7;
    padding-top: 100px;
}

.con1200 {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .con1200 {
        width: 100%;
    }

    .company .con1200,
    .about.con1200,
    .history.con1200,
    .bunner .con1200,
    footer .con1200 {
        padding: 0 20px;
    }
}

.fs-30 {
    font-size: 30px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.sticky {
    position: sticky;
    top: 100px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

.bg_green {
    background: #006875;
    padding: 60px 0;
}

.bg_green h2 {
    color: #fff;
    font-size: 28px;
    margin: 0 0 24px 0;
}

.fc-white {
    color: #fff;
}

.fw-bold {
    font-weight: bold;
}

/* flex_box */
.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex_1_2 {
    width: calc(50% - 20px);
    margin: 0 10px;
}

.flex_image {
    width: 50%;
}

.flex_02 {
    width: 50%;
    order: -1;
}

@media screen and (max-width: 768px) {
    .flex_image {
        width: 100%;
        margin: 20px 0;
    }

    .flex_02 {
        width: 100%;
        margin: 20px 0;
        order: 1;
    }
}

@media screen and (max-width: 767px) {
    .flex_1_2 {
        display: block;
        width: 100%;
        margin: 10px;
    }
}

/* button */
a.sp_button {
    background: #fff;
    border-radius: 10px;
    font-size: 28px;
    padding: 50px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: all 0.3s;
}

a.sp_button:hover {
    opacity: 0.8;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
}

.logo {
    font-weight: bold;
    font-size: 1.8em;
    color: #333;
}

#pc_nav {
    display: block;
}

#pc_nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

#pc_nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s;
}

#pc_nav li a:hover {
    opacity: 0.8;
}

#pc_nav li.contact a {
    position: relative;
    background: #FFE9D0;
    border: #FF8E3D solid 1px;
    padding: 3px 29px 3px 16px;
}

#pc_nav li.contact a::before,
#pc_nav li.contact a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 7.7px;
    height: 1px;
    border-radius: 9999px;
    background-color: #333;
    transform-origin: calc(100% - 0.5px) 50%;
}

#pc_nav li.contact a::before {
    transform: rotate(42deg);
}

#pc_nav li.contact a::after {
    transform: rotate(-42deg);
}

.sp_only {
    display: none;
}

#sp_nav {
    display: none;
}

@media screen and (max-width: 768px) {
    #pc_nav {
        display: none;
    }

    .logo {
        font-size: 1.6em;
    }

    .sp_only {
        display: block;
    }

    .openbtn {
        position: fixed;
        z-index: 9999;
        top: 20px;
        right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    .openbtn span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #333;
        width: 45%;
    }

    .openbtn span:nth-of-type(1) {
        top: 15px;
    }

    .openbtn span:nth-of-type(2) {
        top: 23px;
    }

    .openbtn span:nth-of-type(3) {
        top: 31px;
    }

    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

    #sp_nav {
        display: block;
        position: fixed;
        z-index: 999;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: all 0.6s;
    }

    #sp_nav.panelactive {
        top: 0;
    }

    #sp_nav.panelactive #sp_nav-list {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #sp_nav ul {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #sp_nav li {
        display: block;
        position: relative;
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
    }

    #sp_nav li a {
        color: #333;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }

    #sp_nav li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 2px;
        background: #333;
        transition: all 0.3s;
        transform: scale(0, 1);
        transform-origin: center top;
    }

    #sp_nav li a:hover::after {
        transform: scale(1, 1);
    }
}

/* top */
.top-img {
    text-align: right;
}

.top-img img {
    width: 70%;
}

.top-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.sub_title {
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .top-title {
        left: 20px;
    }

    .top-img img {
        width: 50%;
    }

    .title {
        font-size: 40px;
    }

    .sub_title {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .top-img img {
        width: 100%;
    }

    .top-title {
        left: 0;
    }

    .top-title .bg-wrap {
        position: relative;
        display: inline-block;
        margin-top: 4px;
    }

    .top-title.is-animated .bg-wrap::before {
        animation: bg 2.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
        background: #fff;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: left center;
    }

    .top-title .bg-wrap span {
        color: #333;
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        z-index: 1;
    }

    .top-title .title.bg-wrap span {
        font-size: 36px;
    }

    @keyframes bg {
        0% {
            opacity: 0;
            transform: scaleX(0) translateX(-5%);
        }

        30% {
            transform: scaleX(1) translateX(0);
        }

        100% {
            transform: scaleX(1) translateX(0);
        }

        30%, 100% {
            opacity: 1;
        }
    }
}

/* 事業案内 */
.company p {
    margin: 0 0 8px 0;
    text-align: center;
}

.content_box div {
    width: calc(100% / 3 - 20px);
    background: #fff;
    padding: 20px;
}

.content_box.flex_wrap {
    column-gap: 30px;
}

.content_box h3 {
    font-size: 24px;
    padding: 0 0 8px 0;
    border-bottom: #333 solid 1px;
    margin: 0 0 24px 0;
}

a.content_button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 auto;
    max-width: 150px;
    padding: 10px 25px 10px 10px;
    line-height: 1.8;
    text-decoration: none;
    color: #333;
    transition: 0.3s ease-in-out;
}

a.content_button::before,
a.content_button::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
}

a.content_button span {
    position: relative;
    transition: all 0.3s;
    z-index: 3;
}

a.content_button::before {
    width: 0.5rem;
    height: 0.5rem;
    right: 1.1rem;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    z-index: 2;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s;
}

a.content_button::after {
    left: 0;
    background: #E3F1E7;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    transform: translateY(-50%);
    transition: all 0.5s;
}

a.content_button:hover::after {
    right: 0;
    width: 100%;
    background: #E3F1E7;
}

@media screen and (max-width: 768px) {
    .company p {
        text-align: left;
    }

    .content_box.flex_wrap {
        gap: 30px;
    }

    .content_box div {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 767px) {
    .content_box div {
        width: 100%;
    }
}


/* 会社情報 */
.about {
    margin-top: 200px;
    position: relative;
}

.about img {
    width: 60%;
    text-align: left;
}

.top_02 {
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 25%;
    right: 0;
}

.top_02 p {
    font-size: 24px;
    margin: 0 0 16px 0;
}

.top_02 span {
    background: #fff;
}

.about .button {
    position: absolute;
    bottom: 25%;
    right: 20%;
}

.button a {
    padding: 20px 0;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    background: #fff;
    border: solid 1px #333;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button a:hover {
    background: #333;
    color: #fff;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

@media screen and (max-width: 1000px) {
    .about img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .about {
        margin-top: 60px;
    }

    .top_02,
    .about .button {
        position: inherit;
        top: 0;
        right: 0;
    }

    .top_02 span {
        background: none;
    }

    .about figure {
        margin: 0 0 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .top_02 {
        position: relative;
        font-size: 1.2em;
        right: 0;
        display: block;
        margin: 0 0 20px 0;
        color: #333;
    }

    .top_02 p {
        font-size: 20px;
    }

    .button {
        position: relative;
        right: 0;
        text-align: center;
    }

    .button a {
        font-size: 18px;
        margin: 0 auto;
    }

    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
}

/* 沿革 */
.history {
    margin: 60px auto;
}
.timeline {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
}

.timeline li {
    position: relative;
    list-style: none;
    padding: 0 0 20px 0;
}

.timeline dl {
    margin: 0 0 20px 3em;
}

.timeline dt {
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
}

.border-line {
    position: absolute;
    left: 0.2em;
    top: 0;
    width: 2px;
    height: 0;
    background: #666;
}

.timeline li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

/* bunner */
.bunner {
    background-image: radial-gradient(at 77.23619385004855% 97.96901397352265%, hsla(186.66666666666666, 100%, 22.941176470588236%, 1) 0%, hsla(186.66666666666666, 100%, 22.941176470588236%, 0) 100%), radial-gradient(at 38.92196490044275% 2.5308028005953997%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 1) 0%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 0) 100%), radial-gradient(at 60.77363268180348% 54.96605066084294%, hsla(143.55140186915887, 88.42975206611573%, 76.27450980392156%, 1) 0%, hsla(143.55140186915887, 88.42975206611573%, 76.27450980392156%, 0) 100%), radial-gradient(at 45.62135383703172% 17.723922854391905%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 1) 0%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 0) 100%), radial-gradient(at 93.46065281306942% 90.95031620721873%, hsla(166.19047619047618, 53.38983050847457%, 53.72549019607843%, 1) 0%, hsla(166.19047619047618, 53.38983050847457%, 53.72549019607843%, 0) 100%), radial-gradient(at 83.16881745717193% 43.99281827696729%, hsla(186.66666666666666, 100%, 22.941176470588236%, 1) 0%, hsla(186.66666666666666, 100%, 22.941176470588236%, 0) 100%), radial-gradient(at 44.63754371065903% 6.605279313133217%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 1) 0%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 0) 100%), radial-gradient(at 31.092510692367203% 28.35079260533292%, hsla(143.55140186915887, 88.42975206611573%, 76.27450980392156%, 1) 0%, hsla(143.55140186915887, 88.42975206611573%, 76.27450980392156%, 0) 100%), radial-gradient(at 89.13523405173616% 38.26169777955377%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 1) 0%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 0) 100%), radial-gradient(at 52.605185575395865% 20.65131059659946%, hsla(166.19047619047618, 53.38983050847457%, 53.72549019607843%, 1) 0%, hsla(166.19047619047618, 53.38983050847457%, 53.72549019607843%, 0) 100%), radial-gradient(at 14.250995688214886% 2.7602288935569264%, hsla(186.66666666666666, 100%, 22.941176470588236%, 1) 0%, hsla(186.66666666666666, 100%, 22.941176470588236%, 0) 100%), radial-gradient(at 12.12333550282011% 89.33903788622044%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 1) 0%, hsla(179.55223880597015, 79.76190476190477%, 32.94117647058823%, 0) 100%);
    padding: 80px 0;
}

.bunner h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    padding: 0 0 16px 0;
    border-bottom: #fff solid 1px;
    margin: 0 0 48px 0;
}

.bunner p {
    width: 900px;
    color: #fff;
    margin: 0 auto 48px auto;
}

@media screen and (max-width:900px) {
    .bunner p {
        width: 100%;
    }
}

.bunner p.title {
    font-size: 36px;
    margin: 0 auto 16px auto;
}

.bunner .button a {
    position: relative;
    overflow: hidden;
    background: #FFE9D0;
    border: #FF8E3D 3px solid;
    width: 480px;
    transition: ease .2s;
}

.bunner .button a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #FF8E3D;
    width: 100%;
    height: 100%;
    transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 0);
    transform-origin: center;
}

.bunner .button a span {
    position: relative;
    z-index: 3;
}

.bunner .button a:hover:before {
    transform: scale(1, 1);
}

.bunner .button a:hover {
    color: #333;
}

@media screen and (max-width:767px) {
    .bunner p.title {
        font-size: 24px;
    }
}

@media screen and (max-width:480px) {
    .bunner .button a {
        width: 100%;
    }
}

/* footer */
footer {
    background: #006875;
    border-top: solid 30px #fff;
    padding: 30px 50px;
}

footer h4 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 24px 0;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
    transition: all 0.3s;
}

footer a:hover {
    opacity: 0.8;
}

footer table {
    width: 100%;
}

footer table th {
    color: #fff;
    width: 20%;
    padding: 20px 0;
}

footer table td {
    color: #fff;
    padding: 20px 0;
}


@media screen and (max-width: 768px) {
    footer {
        padding: 30px 0;
    }
}

/* pagetop button */
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
}

#page-top a:hover {
    opacity: 0.6;
}

#page-top a img {
    width: 60%;
}

#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(100px);
}

#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100px);
    }
}